<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <h2 style="padding-top: 0%;">Agregar 
                <span *ngIf="selectedNivel === 'primer_nivel'">
                    categoría
                </span>
                <span *ngIf="selectedNivel === 'segundo_nivel'">
                    especialidad
                </span>
                <div class="color-picker-container">
                </div>
            </h2>            
            <div style="margin-top: 20px;">
                <label><input type="radio" name="nivel" [(ngModel)]="selectedNivel" value="primer_nivel"> De primer nivel</label>
                <label style="margin-left: 20px;"><input type="radio" name="nivel" [(ngModel)]="selectedNivel" value="segundo_nivel"> De segundo nivel</label>
            </div>
            <div class="col-md-12" style="padding: 5%;">
                <div>
                </div>
            </div>
            <div style="display: flex; align-items: center;" *ngIf="selectedNivel === 'primer_nivel'">
                <input type="text" style="margin-top: 10px; " class="form-control" placeholder="Nombre de la Categoría"> <!-- Campo de texto para el nombre -->
                <span class="btn btn-default" style="margin-left: 10px;">Guardar</span>
            </div>
        </div>
    </div>
</div>
