<app-header [hidden]="virtualRouter.routerActive!=='mapwrapper'"></app-header>
<app-header-home [hidden]="virtualRouter.routerActive!=='home'"></app-header-home>
<app-header-dashboard [hidden]="virtualRouter.routerActive!=='dashboard'"></app-header-dashboard>
<app-mapwrapper [hidden]="virtualRouter.routerActive!=='mapwrapper'"></app-mapwrapper>
<app-home [hidden]="virtualRouter.routerActive!=='home'"></app-home>
<app-test [hidden]="virtualRouter.routerActive!=='test'"></app-test>
<!-- <app-footer></app-footer> -->
